.popup-image__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 0 0;
    color: #ffffff;
}
/*@media screen and (max-width: 650px) {
    .popup-image__title {
        font-size: 18px;
        line-height: 22px;
        width: 238px;
        margin: 25px auto 0;
    }
}*/