.popup__save-button {
    width: 358px;
    height: 50px;
    background: #000000;
    border: 0;
    border-radius: 2px;
    margin: 48px auto 37px;
    padding: 0;
    display: flex;
    transition: 0.3s;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}
.popup__save-button:hover {
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    cursor: pointer;
} 
.popup__save-button:disabled {
    color: #B8B8B8;
    background: #EDEDED;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
@media screen and (max-width: 650px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
        margin: 45px auto 25px;
    }
}