.popup__hobby {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    height: 30px;
    border: none;
    border-bottom: 1px solid grey;
    margin: 20px auto 0;
}
@media screen and (max-width: 650px) {
    .popup__hobby {
        width: 238px;
    }
}