.popup__edit {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px auto 0;
}
.popup__edit:first-of-type {
    margin: 50px auto 0;
}
@media screen and (max-width: 650px) {
    .popup__edit {
        width: 238px;
    }
}