.popup__input-block {
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 358px;
    position: relative;
}
@media screen and (max-width: 650px) {
    .popup__input-block {
        width: 238px;
    }
}