.profile__add-button {
    display: flex;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    transition: 0.5s;
    outline-style: none;
}
.profile__add-button:hover {
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}
@media screen and (max-width: 650px) {
    .profile__add-button {
        width: 282px;
        margin: 36px auto 0;
    }
}