.profile__info {
    display: flex;
    align-items: center;
    position: relative;
}
@media screen and (max-width: 650px) {
    .profile__info {
        max-width: 282px;
        flex-direction: column;
    }
}