.image-popup__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    display: flex;
    transition: 0.5s;
    outline-style: none;
}
.image-popup__close:hover {
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}
@media screen and (max-width: 650px) {
    .image-popup__close {
        width: 30px;
        height: 30px;
        top: -30px;
        right: -7px;
    }
}